name: Publish package
'on':
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: Install pypa/build
        run: python3 -m pip install build --user
      - name: Build binary wheel and source tarball
        run: python3 -m build
      - name: Store the distribution packages
        uses: actions/upload-artifact@v4
        with:
          path: dist/
  publish:
    name: Publish distribution to PyPI
    if: 'startsWith(github.ref, ''refs/tags/'')'
    needs:
      - build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: 'https://pypi.org/p/module-level-lint'
    permissions:
      id-token: write
    steps:
      - name: Download distributions
        uses: actions/download-artifact@v4
        with:
          name: artifact
          path: dist/
      - name: Publish distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
  github-release:
    name: Create GitHub Release Package
    needs:
      - publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Download distributions
        uses: actions/download-artifact@v4
        with:
          name: artifact
          path: dist
      - name: Sign distributions
        uses: sigstore/gh-action-sigstore-python@v2.1.1
        with:
          inputs: ./dist/*.tar.gz ./dist/*.whl
      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: '${{ github.token }}'
        run: >-
          gh release create '${{ github.ref_name }}' --notes ""
          --repo '${{ github.repository }}'
      - name: Upload artifact signatures to GitHub Release
        env:
          GITHUB_TOKEN: '${{ github.token }}'
        run: >-
          gh release upload '${{ github.ref_name }}' dist/**
          --repo '${{ github.repository }}'
